*{
	margin:0;
	padding:0;
}
.clearfix:after{
	content:"";
	display:table;
	clear:both;
}
/*header begin*/
header{
	background:url('../images/h_bg.jpg') no-repeat center center;
	text-align:center;
	height:1000px;
	color:#ccc;
	font-family:"Segoe Script";
}
header .content{background: rgb(0,0,0,0.6); height:1000px;}
header h1{font-size:60px; font-weight:normal;padding:180px 0 80px 0; color:#eee;}
header p{max-width:770px; margin:0 auto; font-size:1.25rem;}
header .login{max-width:970px; border:1px solid #777; margin:100px auto 0;padding:45px 0;}
header .login span{color:#666;}
header .loginbar{margin-top:45px;}
header .loginbar .one::-webkit-input-placeholder{color:#ccc;}
header .loginbar input:last-child{width:125px; height:50px; border:none; text-align:center;transition:0.2s;}
header .loginbar input:last-child:hover{color:#fff; background-color: #333;}
header .loginbar input:first-child,header .loginbar input:nth-child(2){
	width:290px;
	height:48px;
	border:1px solid #777;
	background: none;
}
header .loginbar input:first-child{ text-indent:1.25em; font-size:1em;}
header .loginbar input:nth-child(2){margin:0 30px 0 30px; font-size:1em; text-indent:1.25em;}
/*header end*/
/*main begin*/
main .shop{padding:90px 0 110px 0; background-color: #F2F2F2;}
.shop>p{text-align:center;}
.shop>p:nth-child(2){font-size:2.5rem; margin:35px auto 0px; max-width:660px;}
.shop .cont{max-width:1050px;margin:0 auto;}
.cont .item{max-width:440px; float:left; margin-top:80px;}
.cont .item:nth-child(2n+1){margin-right:160px;}
.item .content{width:100%; float:left;}
.content .cont_m{margin-left:20%;}
.item .icon{float:left; text-align:center; margin-left:-100%; width:20%; height:80px; padding-top:5px;}
.cont_m p{margin-top:15px; color:#777; font-size:16px;}
main .data{background: url("../images/bg_m1.png") no-repeat center center;}
.data .d_cont{padding:100px 0 90px 0; background: rgb(0,0,0,0.6); display:flex; justify-content: space-between; flex-wrap: wrap; }
.d_cont>div{flex:1;}
.d_cont_l .d_c_m{margin:0 auto; padding:80px 0 0 150px; color:#eee;}
.d_c_m>p{max-width:370px;  color:#bbb;}
.d_c_m>p:first-child{font-size:2.5em; margin-bottom:40px;  color:#eee;}
.d_c_m .button button{background:none; color:#eee; text-transform:uppercase;transition:0.2s; width:233px; text-align:center; height:58px; border:1px solid #eee;  margin-top:60px; line-height:58px;}
.d_c_m .button button:hover{background-color: #eee; color:#333;}
.d_c_m .button button:first-child{width:238px; margin-right:30px;}
.d_cont .d_cont_r{position:relative;border-right:none; max-width:500px;border:1px solid #eee; border-top-left-radius:35px; border-bottom-left-radius:35px; padding:28px 0 28px 60px;}
.d_cont_r .ipod{overflow:hidden;}
.ipod .cir{position:absolute; left:30px; top:50%; width:6px; height:6px; border:1px solid #ccc; border-radius:7px;}
main .text{padding:95px 0 80px 0; text-align:center; border-bottom:1px solid #ccc;}
.text>p{font-size:2.5em;}
.text section{display:flex; flex:1; max-width:950px; margin:85px auto 0;}
.text section>div{max-width:265px; margin-right:80px;}
.text section>div:last-child{margin:0;}
.text section p{color:#aaa; margin-top:45px;}
main .pic{padding:115px 0 8px 0; border-bottom:1px solid #ccc;}
.pic section{max-width:970px; margin:0 auto;}
.pic_c{display:flex; flex-wrap: wrap; margin-bottom:80px; justify-content:space-between;}
.dir{flex-direction:row-reverse;}
.pic_c .image{margin-bottom:80px; flex:0 570px; background: url("../images/pic1.png") no-repeat center;text-align:center; height:350px; overflow: hidden;}
.pic_c .mar_l{order:2;background: url("../images/pic2.png") no-repeat center;}
.pic_c .word{flex:1; padding-top:60px; max-width: 310px; min-width: 210px; line-height:1.5em;}
.ord{order:1;}
.pic_c .word h4{font-size:1.25em;}
.pic_c p{color:#777; margin-top:2em;}
main .peo{padding:100px 0 70px 0; text-align:center; border-bottom:1px solid #ccc;}
.peo section>p{max-width: 700px; margin:0 auto; font-size:2.5em;}
.peo section>p:nth-child(2){color:#777; font-size:1.1em; margin:30px auto 65px;}
.peo section .pic_p{display:flex; flex-wrap:wrap; max-width:970px; margin:0 auto;}
.pic_p>div{position:relative; display:flex; justify-content:center; align-items:center; flex:1 470px; height:340px; background-color: #000; overflow:hidden;}
.pic_p>div:nth-child(2n+1){margin:0 30px 30px 0;}
.pic_p>div>img{margin-top:50px; }
.pic_p>div .hid{transition:all 1s linear 0s; background-color: rgb(0,0,0,0.6); color:#fff; position:absolute; left:-470px; width:470px; height:340px; }
.pic_p>div:hover .hid{ left:0px; }
.pic_p>div .hid .hid_c{padding-top:110px;}
.hid_c p{font-size:1.25em; color:#ddd;}
.hid_c p:nth-child(2){margin:15px 0 30px 0; color:#999; text-transform: uppercase; font-size:0.75em;}
.hid_c ul{display:flex; justify-content:space-between; width:218px; margin:0 auto;}
.hid_c ul li{transition:0.5s; list-style:none; line-height:58px; width:50px; height:50px; border:1px solid #999; border-radius:52px;}
.hid_c ul li:hover{background-color: #333;}
main .contact{padding:70px 0;}
.contact section{max-width:970px; margin:0 auto; display:flex; flex-wrap: wrap; justify-content: space-between;}
.contact .cot_i{flex:1;/*width:370px;*/ padding:49px; /*margin-right:30px; */text-align:center; border:1px solid #ccc; border-radius:10px;}
.cot_i p{text-transform: uppercase; margin-bottom:45px;}
.cot_i input{width:366px; height:46px; margin-bottom:30px;  font-size:1em; color:#aaa; text-indent:1em;}
.cot_i textarea{width:326px; height:100px; padding:20px; font-size:1.25em; margin-bottom:30px;}
.cot_i input:nth-of-type(3){background: #222; border:none; color:#eee; text-align:center; font-size:0.5em; }
.cot_ad{flex:1; padding:80px 0 0 100px ;}
.cot_ad>p{font-size:2.5em; margin-bottom:35px; color:#333;}
.cot_ad span{color:#999; margin-bottom:68px; display:inline-block;}
.cot_ad>div{margin-bottom:30px;}
.cot_ad .ico{width:35px;  float:left; padding-top:5px;}
.cot_ad .ico_c a{text-decoration: none; color:#000;}
/*main end*/
/*footer begin*/
footer{padding:85px 0 120px 0; background-color: #141414; color:#fff;}
footer article{display:flex; flex-wrap: wrap; justify-content:space-between; max-width: 1200px; margin:0 auto; }
footer article dl{flex:1; max-width:265px; }
footer article dl:nth-of-type(4) dd{line-height:1.8em;}
footer article dl:nth-of-type(4) dd img{margin-right:20px; margin-top:30px;}
footer article dt{margin-bottom:15px; text-transform: uppercase; font-size:0.9em; letter-spacing:3px;}
footer article dd{line-height:45px; color:#555; font-size:1.1em;}
footer article dd a{text-decoration: none; color:#555;}
footer article dd a:hover{color:#999;}

/*footer end*/
