html,body{height:100%; background-color: #eee; color:#fff; margin:0; padding:0;}
a{text-decoration: none;}
.clearfix:after{content:"";display:table;clear:both;}
/*header begin*/
header{background-color: #333;line-height:3rem;height:3rem;}
.h_con{max-width:90%;margin:0 auto; }
.name{float:left;font-weight:bold; text-shadow:1px 1px  #333,2px 2px  #fff; font-size:20px; margin-right:180px;}
.h_con nav{float:left;}
.h_con nav a{padding-right:20px;color:#fff;}
.h_con nav a:hover{color:#f03;}
/*header end*/
main{height:100%; max-width:90%; margin:0 auto;}
.content,.sidebar,.shop{float:left;height:100%;}
.content{width:100%; background-color: #777; text-align:left;}
.sidebar{margin-left:-100%; background-color: #bbb; width:20%;}
.shop{margin-left:-20%; background-color: #bbb; width:20%;}
.cont{height:100%; margin:0 21%; background-color: #ccc;}
footer{background-color: #333;line-height:3rem;}