.cont{
	width:960px;
	margin:0 auto;
	background-color: #6af;
}
.clearfix:after{
	content:" ";
	clear:both;
}
.cont h1{
	width:150px;
	text-align:center;
	float:left;
	color:#fff;

}
.main{
	background-color: #fff;
	margin-left:150px;
	padding-left:20px;
}