*{margin:0; padding:0;}
.cont{
	width:960px;
	margin:0 auto;
}
.clearfix:after{
	content:"";
	display:block;
	clear:left;
}
.cont h1{
	color:#fff;
	background-color: #999;
	font-weight:normal;
	font-size:16px;
	line-height:50px;
	text-indent:1em;
}
.box1,.box2,.box3,.box4,.box5{
	height:100px;
	border:1px solid #eee;
}
h3{
	margin-right:10px;
	font-size:14px;
	text-align:center;
	line-height:100px;
	color:#333;
	float:left;
	width:100px;
	height:100px;
	background-color: #ddd;
}
h5{float:left; font-size:15px;}
