*{margin:0; padding:0;}
body{font-size:14px;}
header{
	background-color: #333;
	height:80px;
}
.clearfix:after{
	content:"";
	display: block;
	clear:both;
}
/*header begin*/
.head{
	width:960px;
	margin:0 auto;
}
.logo{
	color:#fff;
	line-height: 80px;
	float:left;
}
.head nav{
	padding-top:5px;
	float:right;
}
.head nav a{
	color:#fff;
}
/*header end*/
/*banner begin*/
.banner{
	height:460px;
	background-color: #66BB33;
	margin-bottom:20px;
}
.focus{
	position:relative;
	width:960px;
	height:460px;
	margin:0 auto;
}
.focus ul{
	border:1px solid #f00;
	height:50px;
	list-style:none;
	position:absolute;
	bottom:20px;
	right:0px;
}
.focus ul li{
	width:30px;
	height:36px;
	border:1px solid #000;
	background: rgb(255,255,255,0.5);
	text-align:center;
	line-height:36px;
	margin-left:5px;
	float:left;
}
.focus ul li:hover{
	height: 46px;
  	position: relative;/* 由于元素的高度默认增加是往下，所以使用position属性bottom值改变方向 */
  	bottom: 10px; /*通过改变bottom值来抵消元素向下增加的高度，元素向下增加10px，定位向上位移10px，效果就像元素向上移动了*/
  	line-height: 56px; /*在li的高度增加10px时，要想内容保持原有位置line-height值必须是要20px加原有高度*/
	background:#fff;
}
.nav{
	height:51px;
	border-bottom:1px solid #ccc;
}
.nav nav{
	width:960px;
	margin:0 auto;
}
.nav nav a{
	display:inline-block;
	width:106px;
	text-align:center;
	line-height:50px;
	border:1px solid #ccc;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	/*border-bottom:none;*/
	background-color: #eee;
	color:#000;
	text-decoration:none;
}
.nav nav a:hover{
	background-color: #fff;
	border-bottom:1px solid #fff;
}
/*banner end*/
/*main begin*/
section{
	max-width:960px;
	margin:0px auto 20px;

}
section article{
	display:flex;
	flex-wrap:wrap;
	/*justify-content:space-between;*/
}
section article div:last-child{
	margin-right:0;
}
section div{
	flex:1 ;
	padding:80px;
	border:1px solid #ccc;
	margin-right:10px;
	margin-top:10px;
}
article .con0{
	flex:3 100px;

}
article .con1{
	flex:2 100px;
}
article .con2{
	flex:1 100px;
}
/*main end*/
/*footer begin*/
footer{
	display:flex;
	justify-content:center;
	background-color: #666666;
	height:120px;
}
footer a{
	margin-top:10px;
	display:block;
	color:#fff;
	text-decoration:none;
}
/*footer end*/
