body {
    min-width: 320px;
    max-width: 750px;
    width: 10rem;
    margin: 0 auto !important;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    /*  为了解决 (移动端上）有事件监听的元素被点击的时候会被高亮显示 */
}

* {
    margin: 0;
    padding: 0;
}

/* 如果屏幕大于了750px  就按照750设计稿走 */
@media screen and (min-width:750px) {
    html {
        font-size: 75px !important;
    }

}

img {
    width: 100%;
    height: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: #666;
    font-size: .266667rem;
    display: block;
}

.div {
    box-sizing: border-box;
}


.index-nav {
    width: 10rem;
    background: #ffdb47;
    height: 1.173333rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: 999;

}

.content-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 1.173333rem;
    width: 9.066667rem;
}

.classify {
    display: block;
    width: .586667rem;
    height: .933333rem;
}

.search-nav {
    display: flex;

    align-items: center;
    width: 6.666667rem;
    height: .933333rem;
    border-radius: .666667rem;
    background: rgba(255, 255, 255, 0.8);
}

.classify img {
    width: .586667rem;
    height: .933333rem;
    display: block;
}

.login {
    display: block;
    width: .586667rem;
    height: .933333rem;
}

.login img {
    width: .586667rem;
    height: .933333rem;
    display: block;
}

.search-icon {
    display: block;
    width: .4rem;
    height: .4rem;
    background: url(../images/search.png) no-repeat;
    background-size: cover;
    margin: 0 .133333rem 0 .266667rem;
}

.search-nav input {
    border: none;
    outline: none;
    height: .4rem;
    background: transparent;
    width: 5.6rem;
    font-size: .4rem;
    color: #999;
}

.banner {
    padding-top: 1.173333rem;
    width: 10rem;
    height: 4.933333rem;
}

.enter-list {
    height: 4.266667rem;
    background-color: #fff;
}

.enter-list ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: .266667rem;
}

.enter-list ul li {
    flex: 20%;
    list-style: none;
}
.enter-list ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .133333rem 0 .133333rem 0;
}

.list-img {
    width: 1.133333rem;
    height: 1.133333rem;
}
.title{
    margin-top: .066667rem;
}
.sale{
    display: flex;
}
.newImgFloor-content{
    display: flex;
    padding-top: .266667rem;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1.333333rem;
    width: 10rem;
    background-color: #fff;
    display: flex;
}
.footer a{
    flex: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-img{
    width: .746667rem;
    height: .746667rem;
}
.newImgFloor3{
    padding-bottom: 1.333333rem;
}
.setBottom{
    bottom: -10px !important;
}