i {
	/*display: inline-block;*/
	display: block;
}

.main-wrapper {
	display: flex;
}

.menu {
	/*height:100%;*/
	display: flex;
}

.menu-left {
	position: relative;
	width: 100px;
	height: 100%;
	background: #1d2531;
	/*float: left;*/
}

.menu-left ul {
	position: absolute;
	/*left: 20px;*/
	top: 20px;
	bottom: 60px;
	overflow: auto;
	/*padding:0 20px;*/
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}

.menu-left li {
	width: 60px;
	height: 60px;
	padding:0 20px;
	margin-bottom: 20px;
	position: relative;
}
.menu-left li.current-nav .dot{
	top:27px;
	position: absolute;
	border:3px solid #2399f1;
	border-radius: 50%;
	font-size:0;
	margin-left:-23px;
}
.menu-left .icon1 {
	background: url(../img/icon1.png) no-repeat;
	background-position: 20px;
}


.menu-left .icon2 {
	background: url(../img/icon2.png) no-repeat;
	background-position: 20px;
}

.menu-left .icon3 {
	background: url(../img/icon3.png) no-repeat;
	background-position: 20px;
}

.menu-left .add {
	background: url(../img/add.png) no-repeat;
	background-position: 20px;
}

.menu-left .add span {
	display: block;
}

.menu-left .menu-left-footer {
	position: fixed;
	background: #1d2531;
	bottom: 0;
	width: 60px;
	left: 20px;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

.menu-left .menu-left-footer div {
	width: 16px;
	height: 16px;
}

.menu-left .menu-left-footer .grid {
	background: url(../img/grid.png);
}

.menu-left .menu-left-footer .settings {
	background: url(../img/settings.png);
}

.menu-right {
	position: relative;
	width: 250px;
	height: 100%;
	background: #222c3c;
	/*margin:0px auto;*/
}

.menu-container {
	position: absolute;
	top: 30px;
	bottom: 76px;
	/*left: 28px;*/
	overflow: auto;
}

.menu-col {
	width: 250px;
	/*margin:0px auto;*/
}

.menu-right .menu-col .title {
	display: flex;
	justify-content: space-between;
	color: #445061;
	padding-top:20px;
	margin:0px 28px 30px;
	border-top: 1px solid #445061;
	/*margin-bottom: 30px;*/
	/*padding:20px 28px;*/
}
.menu-right .menu-col:first-child .title{
	padding-top:0;
	border-top:none;
}
.menu-right .menu-col .title h2 {
	font-size: 12px;
}

.menu-right .menu-col .title .settings {
	background: url(../img/settings.png);
	width: 16px;
	height: 16px;
}

.menu-right .menu-col ul {
	/*margin-bottom: 20px;*/
	/*border-width:194px;*/
}

.menu-right .menu-col:last-child ul {
	border: none;
}

.menu-right .menu-col ul li {
	margin-bottom: 24px;
	color: #99a1ae;
	padding:0 28px;
	position: relative;
}
.menu-right .menu-col ul li.current-menuItem{
	color:#fff;
}
.menu-right .menu-col ul li i {
	width: 18px;
	height: 16px;
	float: left;
	margin-top: 3px;
}

.menu-right .menu-col ul li .book {
	background: url(../img/book.png) no-repeat;
}

.menu-right .menu-col ul li .video {
	background: url(../img/video.png) no-repeat;
}

.menu-right .menu-col ul li .painting {
	background: url(../img/painting.png) no-repeat;
}

.menu-right .menu-col ul li .chart {
	background: url(../img/chart.png) no-repeat;
}

.menu-right .menu-col ul li span {
	margin-left: 12px;
}
.menu-right .menu-col ul li.current-menuItem .dot{
	/*content:" ";*/
	top:8px;
	position: absolute;
	border:3px solid #2399f1;
	border-radius: 50%;
	font-size:0;
	margin-left:-31px;
}
.menu-right .menu-col ul li .oval{
	font-size:14px;
	color:#fff;
	height:24px;
	padding:0 10px;
	background: radial-gradient(#2096ef, #77c2fa);
	float:right;
	flex-shrink:0;
	border-radius: 20px;
	text-align: center;
	line-height: 24px;
}
.menu-right .menu-col ul li .red-circle{
	font-size:14px;
	color:#fff;
	width:26px;
	height:26px;
	background: radial-gradient(#dd3b1e, #f25236);
	margin-left:20px;
	float:right;
	flex-shrink:0;
	border-radius: 50%;
	text-align: center;
	line-height: 26px;
}
.menu-right .menu-right-footer {
	position: fixed;
	background: #222c3c;
	bottom: 0;
	left: 128px;
	/*height:76px;*/
	width: 194px;
	font-size: 14px;
	padding: 22px 0;
	color: #fff;
}

.menu-right .menu-right-footer .money {
	float: right;
}

.menu-right .menu-right-footer .progress {
	height: 5px;
	background: #445061;
	margin-top: 13px;
	border-radius: 5px;
	overflow: hidden;
}

.menu-right .menu-right-footer .progress .progress-bar {
	width: 0px;
	height: 100%;
	border-radius: 5px;
	background: linear-gradient(to right, #805ee5, #9c8de3);
	/* 标准的语法 */
}

.content {
	width: 100%;
	overflow: auto;
	position:relative;
}

.content-top{
	position:fixed;
	/*width:50%;*/
	left:350px;
	right:0;
	height:80px;
	border-bottom: 1px solid #e6e9ec;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content-top h1{
	margin-left:28px;
	font-size:24px;
	color:#354052;
}
.content-top-right{
	display: flex;
	align-items: center;
	margin-right:20px;
}
.content-top-right .userImg{
	position: relative;
}
.content-top-right .userImg .statusBg{
	position: absolute;
	width:20px;
	height:20px;
	background: #fff;
	bottom:0px;
	right:0px;
	border-radius: 50%;
}
.content-top-right .userImg .status{
	background: url(../img/status.png);
	position: absolute;
	top:3px;
	left:3px;
	width:14px;
	height:14px;
}
.content-top-right img{
	width:50px;
	height:50px;
	border-radius: 50%;
}
.content-top-right .title{
	margin-left:16px;
}
.content-top-right .title h2{
	font-size: 16px;
	color: #2399f1;
}

.content-top-right .title h3 {
	font-size: 14px;
	color: #b5b5b5;
}
.content-top-right .dropdown{
	background: url(../img/dropdown.png);
	width:11px;
	height:7px;
	margin-left:34px;
}
.main-content{
	display: flex;
	height:100%;
	position: absolute;
	top:80px;
}
.content-left {
	position: relative;
	width: 400px;
	border-right: 1px solid #e6e9ec;
}

.content-left-top {
	padding: 20px 30px;
	border-bottom: 1px solid #e6e9ec;
}

.content-left-top .search {
	position: relative;
}

.content-left-top .search input {
	width: 310px;
	border: 1px solid #e6e9ec;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0);
	padding: 12px 15px;
	font-size: 14px;
	color: #e6e9ec;
}

.content-left-top .search input::-webkit-input-placeholder {
	color: #e6e9ec;
}

.content-left-top .search .submit {
	position: absolute;
	background: url(../img/search.png) no-repeat;
	background-position: 16px 16px;
	width: 46px;
	height: 46px;
	right: 0;
	top: 0;
}
.message-list{
	position:absolute;
	top:87px;
	bottom:0;
	overflow: auto;
}
.message-item {
	border-bottom: 1px solid #e6e9ec;
	padding: 24px;
}
.message-item.current-message {
	border-left:3px solid #2399f1;
}
.message-item.current-message .title h2 {
	/*display: block;*/
	color:#2399f1;
	display: flex;
	align-items: center;
}
.message-item.current-message .title h2:before{
	content:" ";
	border:5px solid #2399f1;
	border-radius: 50%;
	font-size:0;
	margin-right:5px;
}

.message-item .item-top{
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
	/*align-items: center;*/
}

.message-item img {
	width: 47px;
	height: 47px;
	border-radius: 50%;
	float: left;
}

.message-item .title {
	float: left;
	margin-left: 16px;
	/*line-height:16px;*/
}

.message-item .title h2 {
	font-size: 16px;
	color: #585d68;
}

.message-item .title h3 {
	font-size: 14px;
	color: #b5b5b5;
}

.message-item span {
	float: right;
	font-size: 14px;
	color: #909eb0;
}
.message-item .item-bottom{
	display: flex;
	align-items: center;
	margin-top:16px;

}
.message-item p {
	font-size: 14px;
	color: #585d68;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
		
}
.message-item .item-bottom .circle{
	font-size:14px;
	color:#fff;
	width:26px;
	height:26px;
	background:#2399f1;
	background: radial-gradient(#2096ef, #77c2fa);
	margin-left:20px;
	float:right;
	flex-shrink:0;
	border-radius: 50%;
	text-align: center;
	line-height: 26px;
}
.content-right{
	overflow: auto;
	
}
.content-right-top{
	height:86px;
	border-bottom: 1px solid #e6e9ec;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content-right-top .title{
	display: flex;
	align-items: center;
}
.content-right-top h2{
	margin-left:28px;
	margin-right:20px;
	color:#585d68;
	font-size: 18px;
}
.content-right-top .title span{
	background:#1bb934;
	border-radius: 50%;
	width:10px;
	height:10px;
}
.content-right-top .btn{
	/*float:right;*/
	display: flex;
	align-items: center;
	margin-right:20px;
}
.content-right-top .btn span{
	margin-left:24px;
	padding:0 20px;
	height:36px;
	border-left:1px solid #ced0da;
	font-size:14px;
	line-height:36px;
	color:#8f99ae;
}
.content-right-top ul{
	display: flex;
	background: linear-gradient(#feffff, #f2f4f7);
	border:1px solid #ced0da;
	border-radius: 3px;
	
}
.content-right-top .btn-left{
	/*float:left;*/
}
.content-right-top .btn-right{
	/*float:right;*/
}
.content-right-top ul li{
	width:16px;
	height:16px;
	padding:10px;
	border-right:1px solid #ced0da;
	background-position:center;
	
}
.content-right-top ul li:last-child{
	border-right:none;
}
.user{
	background:url(../img/user.png) no-repeat;
	
}
.upload{
	background:url(../img/upload.png) no-repeat;
}
.trash{
	background:url(../img/trash.png) no-repeat;
}
.left{
	background:url(../img/left.png) no-repeat;
	
}
.right{
	background:url(../img/right.png) no-repeat;
	
}
.content-list_1{
	padding:28px;
}
.content-item{
	margin-bottom: 22px;
}
.content-item:last-child{
	margin-bottom:0;
}
.content-item img{
	width: 47px;
	height: 47px;
	border-radius: 50%;
	float:left;
}
.content-item .dec{
	margin-left:68px;
}
.content-item .title{
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	margin-bottom: 10px;
}
.content-item .title h2{
	color:#585d68;
	font-size: 16px;
}

.content-item .title span{
	margin-left:10px;
	color: #909eb0;
	font-size: 14px;
}
.content-item .dec p{
	font-size: 14px;
	color: #585d68;
}
.text-info {
	/*width:50%;*/
	/*text-align: center;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.text-info .line{
	display: inline-block;
	/*width:100%;*/
	/*flex:1;*/
	flex:1;
	border-top:1px solid #e6e9ec;
	/*vertical-align: middle;*/
}
.text-info .txt{
	padding:0 20px;
	color:#a1adbc;
	display: flex;
	flex-direction: row;
}

.img-panel{
	margin-top:19px;
	/*display: flex;*/
}
.img-panel .img-item{
	position: relative;
	width:156px;
	height:100px;
	display: inline-block;
	margin-right:14px;
}

.img-panel img{
	width:156px;
	height:100px;
	border-radius: 5px;
}
.img-panel .overlay{
	position: absolute;
	top:0;
	left:0;
	width:156px;
	height:100px;
	background:rgb(0,0,0); 
	opacity: 0;
	transition: opacity 0.5s ease-in 0s;
}

.img-panel .img-item:hover .overlay{
	opacity: 0.45;
}
.img-panel .img-item .open{
	position: absolute;
	padding:15px;
	background: rgba(225,225,225,0.3);
	border-radius: 50%;
	top:50%;
	left:50%;
	width:16px;
	height:16px;
	transform: translate(-50%,-50%) scale(0);
	transition:all 0.7s ease;
}
.img-panel .img-item:hover .open{
	transform: translate(-50%,-50%) scale(1);
	
}

.img-panel .img-item .open i{
	background: url(../img/open.png) no-repeat;
	width:16px;
	height:16px;
}
.text-info.text-info_2 .line{
	border-top:1px solid #a7d6f9;
}
.text-info.text-info_2 .txt{
	color:#2399f1;
}
.addMessage{
	width:100%;
	height:52px;
	display: flex;
	position: relative;
}
.addMessage  .add{
	width:54px;
	height:54px;
	/*border:1px solid #ced0da;*/
	background: url(../img/add2.png);
	position: absolute;
}
.addMessage input{
	width:100%;
	height:100%;
	border:1px solid #dfe3e9;
    border-radius:3px;	
	padding:0 20px 0 72px;
	font-size:14px;
	color: #585d68;
}
