.main {
    width: 100%;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #f7f7f7;
}

.header_wrap {
    width: 1200px;
    height: 100%;
    position: relative;
    /*   background-color: red; */
    margin-left: 74.5px;
}

.header_logo {
    position: absolute;
    width: 40px;
    height: 38px;
    font-size: 20px;
    color: #07111b;
    top: 21px;
    background: url("./myimg/logo.png") no-repeat center;
    left: 20px;
}

.header_content {
    position: absolute;
    font-size: 20px;
    left: 70px;
    line-height: 80px;
}

.header_nav {
    position: absolute;
    /*   background-color: green;  */
    right: 20px;
    display: flex;
    justify-content: space-around;
    width: 480px;
    height: 38px;
    top: 21px;
}

.nav_item {
    color: #292f35;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
}

.nav_item_button {
    background: #000;
    color: #f4f4f5;
    line-height: 38px;
    width: 90px;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    height: 38px;
}

.screen_one {
    width: 100%;
    height: 800px;
    background: url(./img/bg-screen-1.png) no-repeat center;
    background-color: #e7e7e7;
    background-size: cover;
    position: relative;
}

.screen_one_heading {
    width: 100%;
    font-size: 46px;
    color: #4d555d;
    text-align: center;
    position: absolute;
    top: 152px;

}

.screen_one_heading b {
    color: red;
    font-weight: normal;
}

.screen_one_phone {
    position: absolute;
    width: 100%;
    height: 305px;
    background: url(./img/screen-1-phone.png) no-repeat;
    background-size: cover;
    top: 315px;
    z-index: 1;
}

.screen_one_shadow {
    position: absolute;
    background: url(./img/screen-1-shadow.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 411px;
    top: 359px;
    opacity: 0.8;
}

.screen_two {
    width: 100%;
    height: 800px;
    position: relative;
    overflow: hidden;
}

.screen_two_heading {
    font-size: 46px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -253px;
    color: red;
}

.screen_two_subheading {
    font-size: 14px;
    position: absolute;
    left: 50%;
    text-align: center;
    margin-left: -231px;
    top: 180px;
}

.screen_two_phone {
    width: 928px;
    height: 873px;
    background: url(./img/screen-2-phone.png) no-repeat center;
    background-size: cover;
    position: absolute;
    left: 50%;
    margin-left: -464px;
    top: 270px;
}

.screen_two_point1 {
    font-size: 22px;
    color: #4d555d;
    display: flex;
    justify-content: space-between;
    width: 220px;
    position: absolute;
    top: 420px;
    left: 50px;
}

.img_right {
    background: url(./img/icon-point-right.png) no-repeat right;
    background-size: cover;
    width: 115px;
    height: 29px;
    display: block;
}

.img_left {
    background: url(./img/icon-point-left.png) no-repeat left;
    background-size: cover;
    width: 115px;
    height: 29px;
    display: block;
}

.screen_two_point2 {
    font-size: 22px;
    color: #4d555d;
    display: flex;
    justify-content: space-between;
    width: 220px;
    position: absolute;
    top: 297px;
    right: 350px;
}

.screen_two_point3 {
    font-size: 22px;
    color: #4d555d;
    display: flex;
    justify-content: space-between;
    width: 220px;
    position: absolute;
    top: 593px;
    right: 244px;
}

.screen_three {
    width: 100%;
    height: 800px;
    background-color: red;
    position: relative;
    background: url(./img/bg-screen-3.png) no-repeat;
    background-size: cover;
    overflow: hidden;
}

.screen_three_heading {
    font-size: 46px;
    color: white;
    position: absolute;
    top: 94px;
    left: 110px;
}

.screen_three_subheading {
    font-size: 14px;
    color: white;
    position: absolute;
    top: 170px;
    left: 110px;
}

.screen_three_features {
    width: 320px;
    height: 280px;
    position: absolute;
    top: 395px;
    /*    border: solid 1px white; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    right: 900px;
}

.fearures_item {
    width: 140px;
    height: 120px;
    border: 1px solid #cb7173;
}

.item_number {
    font-size: 36px;
    color: white;
    text-align: center;
    height: 36px;
    line-height: 36px;
    padding: 28px 0 8px;
}

.item_desc {
    font-size: 14px;
    color: white;
    text-align: center;
    line-height: 14px;
    height: 14px;
}

.screen_three_phone {
    background: url(./img/screen-3-phone.png) no-repeat;
    width: 750px;
    height: 873px;
    position: absolute;
    top: 100px;
    right: 0px;
}

.screen_four {
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    position: relative;
}

.screen_four_heading {
    font-size: 46px;
    color: #f01400;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 135px;
}

.screen_four_subheading {
    font-size: 14px;
    color: #464a4f;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 225px;
}

.screen_four_type {
    width: 1260px;
    position: absolute;
    height: 270px;
    top: 304px;
    left: 50%;
    margin-left: -630px;
    display: flex;
    justify-content: space-around;
}

.screen_four_typeItem1 {
    width: 220px;
    height: 270px;
    background: url(./img/phone-1.png) no-repeat;
    background-size: cover;
}

.screen_four_typeItem2 {
    width: 220px;
    height: 270px;
    background: url(./img/phone-2.png) no-repeat;
    background-size: cover;
}

.screen_four_typeItem3 {
    width: 220px;
    height: 270px;
    background: url(./img/phone-3.png) no-repeat;
    background-size: cover;
}

.screen_four_typeItem4 {
    width: 220px;
    height: 270px;
    background: url(./img/phone-4.png) no-repeat;
    background-size: cover;
}

.screen_four_typeContent1 {
    width: 220px;
    height: 100px;
    position: relative;
}

.screen_four_typeContent2 {
    width: 220px;
    height: 100px;
    position: relative;
}

.screen_four_typeContent3 {
    width: 220px;
    height: 100px;
    position: relative;
}

.screen_four_typeContent4 {
    width: 220px;
    height: 100px;
    position: relative;
}

.screen_four_content {
    width: 1260px;
    position: absolute;
    height: 100px;
    top: 574px;
    left: 50%;
    margin-left: -630px;
    display: flex;
    justify-content: space-around;
}

.span1 {
    position: absolute;
    left: 50%;
    margin-left: -18px;
    top: 20px;
    font-size: 14px;
}

.span2 {
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: 40px;
    font-size: 12px;
    margin-left: -39.625px;
    color: #a4a9ae;
}

.screen_five {
    width: 100%;
    height: 800px;
    background-color: #d9dde1;
    position: relative;
    overflow: hidden;
}

.screen_five_heading {
    font-size: 46px;
    color: #f01400;
    text-align: center;
    padding-top: 130px;
    line-height: 46px;
}

.screen_five_subheading {
    font-size: 14px;
    color: #2c3137;
    text-align: center;
    padding-top: 25px;
    line-height: 28px;
}

.screen_five_bg {
    background: url(./img/bg-screen-5.png) no-repeat;
    width: 1920px;
    height: 433px;
    position: absolute;
    top: 467px;
    left: 50%;
    margin-left: -960px;
    background-size: contain;
    /* bottom: -100px; */
}

.screen_buy {
    width: 100%;
    height: 320px;
    background: url(./img/bg-screen-buy.png) no-repeat center;
    background-size: cover;
    position: relative;
}

.button_buy {
    height: 80px;
    width: 240px;
    text-align: center;
    line-height: 80px;
    font-size: 24px;
    color: #fff;
    background-color: #f01414;
    display: inline-block;
    border-radius: 3px;
    border: none;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -120px;
}

.button_buy:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

.footer {
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background-color: #07111b;
}

.outline {
    position: fixed;
    padding: 5px 10px;
    bottom: 120px;
    right: 0;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(7, 17, 27, 0.1);
    z-index: 3;
}

.outline_item {
    display: block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    padding: 5px 0;
    background: rgb(255, 255, 255);
    margin: 5px 0px 0px;
    border-top: 1px solid #eee;
    text-align: center;
    color: #93999f;
}

.outline_item:first-child {
    border-top: none;
}