/*清零*/
*{
	margin: 0;
	padding: 0;
	font-family:"arial, helvetica, sans-serif","微软雅黑"
	
}
li{
	list-style-type: none;
}
.clearfloat{
	zoom:1;
}
.clearfloat:after{
	display:block;
	clear:both;
	content: "";
	visibility:hidden;
	height:0;
}
.main-wrapper{
	display: flex;
/* 	border: solid 1px red; */


}
.menu{
	display: flex;

	height: 100%;
 
}
.menu-left{
	position: relative;
	width: 100px;
	background:  #1d2531;
	
/* 	border: solid 1px red; */

}
.menu-left ul{
position: absolute;
	/* left: 20px;
 	top: 20px;
	bottom: 60px;
	overflow: auto; 
	padding:0 20px;
	display: flex;
	flex-direction: column;
	align-items: center; */
	top: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	

} 
.menu-left ul li{

	width: 60px;
	height: 60px;
	margin-bottom: 20px;
	padding: 0 20px;
	position: relative;
/* 	border: solid 1px green; */
}
.icon1{
	background: url(../img/icon1.png) no-repeat;
	background-position: 20px; 
/* 	border: solid 1px red; */

}
.icon2{
	background: url(../img/icon2.png) no-repeat;
	background-position: 20px;
/* 	border: solid 1px red; */

}

.icon3{
	background: url(../img/icon3.png) no-repeat;
	background-position: 20px;
/* 	border: solid 1px red; */
}

.add{
	background: url(../img/add.png) no-repeat;
	background-position: 20px;
/* 	border: solid 1px red; */
}
.menu-left-footer{
/* 	position: fixed; */
	background: #1d2531; 
	width: 60px;
	margin-left: 20px;
	margin-top: 800px;
/* 	bottom: 0; */
   padding: 20px 0;
	 display: flex;
	justify-content:space-between;
/* 	border: solid 1px red; */


}
.grid{
	width: 16px;
	height: 16px;
	background:url(../img/grid.png) no-repeat;
/* 	border: solid 1px yellowgreen; */

}
.settings{
	width: 16px;
	height: 16px;
	background:url(../img/settings.png) no-repeat;
/* 	border: solid 1px yellowgreen; */
}
.menu-right{
	position: relative;
	background:	#222c3c;
	width: 250px;
	height: 100%;
	color:white;
}

.menu-col .title h2 {
	font-size: 14px;
	/* margin-top: 20px; */


	
	
}
.setting {
	background: url(../img/settings.png) no-repeat;
	width: 16px;
	height: 16px;
	float: right;
/* 	border: solid 1px yellow; */
	/* margin-right: 10px; */
	
} 
.menu-container {
/* 	position: absolute;
	top: 30px;
	bottom: 76px;
	left: 28px;
	overflow: auto; */
	margin-top: 30px; 

      
}
.title{
	/* margin-left: 28px; */
	 margin: 0 auto;
	 width: 194px;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	color: #445061;
	border-top: 1px solid #445061;
/* 	margin-top: 20px; */
}
 .menu-col:first-child .title{
	padding-top:0;
	border-top:none;

} 
.menu-col ul li {
	margin-bottom: 20px; 
	color: #99a1ae;
    padding:0 28px;  
	position: relative;
	/* margin-top: 20px; */
}
.oval{
	float: right;
	color:white;
	background: radial-gradient(#2096ef, #77c2fa);
	border-radius: 20px;
	flex-shrink:0;
	padding:0 10px;
	height:24px;
	text-align: center;
	line-height: 24px;
	

}
.red-circle{
	float: right;
	color:white;
	background: radial-gradient(#dd3b1e, #f25236);
	border-radius: 20px;
	height: 26px;
	width: 26px;
	text-align: center;
	line-height: 26px;

}

.book{
	background: url(../img/book.png) no-repeat;
	width: 18px;
	height: 16px;
	float: left;
	margin-top: 3px;

}
.video{
	background: url(../img/video.png) no-repeat;
	width: 18px;
	height: 16px;
	float: left;
	margin-top: 3px;
}
.painting{
	background: url(../img/painting.png) no-repeat;
	width: 18px;
	height: 16px;
	float: left;
	margin-top: 3px;
}
.chart{
	background: url(../img/chart.png) no-repeat;
	width: 18px;
	height: 16px;
	float: left;
	margin-top: 3px;
}
.span1{
	margin-left: 10px;
}

.menu-right-footer{

width: 194px;
font-size: 14px;
margin-left: 25px;
margin-top: 55px;
padding-bottom: 20px;



}
.money{
margin: 0 auto;	


}
.progress{
	background:  #445061;
	height: 13px;
	margin-top: 10px;
	border-radius: 5px;

}
.progress-bar{
	background: linear-gradient(to right, #805ee5, #9c8de3);
	  height: 100%;
	  width: 40%;
	 border-radius: 5px;

}
.content{
width: 100%;

position: relative;
/* height: 860px; */

}
.content-top{
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid #e6e9ec;


}
.content-top-right{
	display: flex; 
	
	align-items: center;
	margin-right: 20px;
}
.content-top h1{
	margin-left:28px;
	font-size:24px;
	color:#354052;
}
.title1{
	margin-left: 16px;

}
.content-top-right .title1 h2{
	font-size: 16px;
	color: #2399f1;
}

.content-top-right .title1 h3 {
	font-size: 14px;
	color: #b5b5b5;
}
.content-top-right img{
	width:50px;
	height:50px;
	border-radius: 50%;
}
.userImg{
	position: relative;
}
.statusBg{
    position: absolute;
	width:20px;
	height:20px;
	background: #fff;
	bottom:0px;
	right:0px;
	border-radius: 50%
 
}
.status{
	width: 14px;
	height: 14px;
	background: url(../img/status.png) no-repeat;
	position: absolute;
	top:3px;
	left:3px;

}
.dropdown{
	width: 11px;
	height: 7px;
	background: url(../img/dropdown.png) no-repeat;
	margin-left: 34px;

}
.main-content{

	display: flex;

}
.content-left{

	width: 400px;
	border-right: 1px solid #e6e9ec;
}
.cotent-left-top{
    border-bottom: 1px solid #e6e9ec;
	padding: 20px 30px;
}
.search{
	position: relative;

}
.submit{

	 position: absolute;
	background: url(../img/search.png) no-repeat;
	width: 17px;
	height: 17px;
	right: 15px;
	top: 15px;
}
.input-search {
	width: 310px;
	border: 1px solid #e6e9ec;
	border-radius: 3px;
	background: rgba(0, 0, 0, 0);
    padding: 12px 15px;
	font-size: 14px;
	color: #e6e9ec;
}
.message-item{
/* 	height: 300px; */
      border-bottom: 1px solid #e6e9ec;
	
} 
.item-top{
	position: relative;
	display: flex;
	padding-left: 20px;
	padding-top:20px; 



}
.bessie{
	border-radius: 50%;
	width: 47px;
	height: 47px;


}
.title2{
	position: relative;
	margin-left:25px;
}
.title2 h2{
	font-size: 16px;
	color: #2399f1;
}
.title2 h3{
	font-size: 14px;
    color: #b5b5b5;
}
.content-span{
	position: absolute;
	right: 20px; 
 
	font-size: 14px;
    color: #909eb0;

}
.item-bottom{
	position: relative;
	margin-left: 25px;
	align-items: center;
	margin-top:16px;
	display: flex;
	margin-bottom: 20px;
}
.item-bottom p{
	font-size: 14px;
	color: #585d68;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.circle{
     
	font-size:14px;
	color:#fff;
	width:26px;
	height:26px;
	background:#2399f1;
	background: radial-gradient(#2096ef, #77c2fa);
	margin-left:20px;
    margin-right: 18px;
	flex-shrink:0;
	border-radius: 50%;
	text-align: center;
	line-height: 26px;
}
.content-right{
width: 100%;


}
.content-right-top{
	height: 85px;
    display: flex;
    border-bottom: 1px solid #e6e9ec;
    justify-content: space-between;
    align-items: center;
}
.content-right-top h2{
	margin-left:28px;
	margin-right:20px;
	color:#585d68;
	font-size: 18px;
}
.btn{
	position: absolute;
	right:0;
	display: flex;
	align-items: center;
	
} 
.user{
	background:url(../img/user.png) no-repeat;
	width:16px;
	height:16px;
	padding:10px;
	border-right:1px solid #ced0da;
	background-position:center;
	
	
}
.upload{
	background:url(../img/upload.png) no-repeat;
	width:16px;
	height:16px;
	padding:10px;
	border-right:1px solid #ced0da;
	background-position:center;
	
}
.trash{
	background:url(../img/trash.png) no-repeat;
	width:16px;
	height:16px;
	padding:10px;
	border-right:1px solid #ced0da;
	background-position:center;
	
}
.left{
	background:url(../img/left.png) no-repeat;
	width:16px;
	height:16px;
	padding:10px;
	border-right:1px solid #ced0da;
	background-position:center;
	
	
}

.right{
	background:url(../img/right.png) no-repeat;
	width:16px;
	height:16px;
	padding:10px;
	border-right:1px solid #ced0da;
	background-position:center;
	
	
}
.content-right-top ul{
	display: flex;
	background: linear-gradient(#feffff, #f2f4f7);
	border:1px solid #ced0da;
	border-radius: 5px; 
	 
}
.content-right-top ul li:last-child{
	border-right:none;
}
.btn-left{
	position: relative;
	margin-right: 30px;



}
.btn-right{

	position: relative;
	margin-right: 10px;
	margin-left: 20px;
}
.content-list{
	border-bottom: 1px solid #ced0da;
	margin-top: 30px;


}
.list{
	display: flex;

	margin-left: 20px;
	margin-bottom: 30px;
	


}
.list-title{
	display: flex;
	margin-bottom: 7px;

}
.list-title span{

	color: #909eb0;
	font-size: 14px;
    margin-top: 2px;
	margin-left: 10px;

}
.list-title h2{
	color:#585d68;
	font-size: 16px;
}

.dec{
	margin-left: 20px;
	width: 100%;

}
.content-list img{
	width: 47px;
	height: 47px;
	border-radius: 50%;

}
 .dec p{
	font-size: 10px;
	color: #585d68;
}






