@charset "utf-8";
/* CSS Document */

h1,
h2,
section,
div,
p {
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
}
nav {
    text-align: center;   
}
nav div {
    display: inline;
}
p {
    line-height: 1.2em;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
.title_total {
    text-align: center;
    padding-top: 40px;
    width: 130px;
    height: 500px;
    color: #FFF;
    background-color: #6495ED;
    float: left;
}
main {
    float: left;
    margin-left: 20px;
    padding-top: 20px;
}
.info {
    overflow: hidden;
}
.content > div {   
    margin-bottom: 12px;
}
.info_content div {
    float: left;
    margin-top: 12px;
    margin-right: 30px;
}