.main-wrapper{
	/*padding:0 215px;*/
	/*font-family:"times new roman";*/
}
header{
	background:url(../img/demo2.jpg) no-repeat;
	/*background-size:cover;*/
	height:990px;
	width:100%;
	color:#fff;
}
header .shade{
	background:rgba(0,0,0,0.65);
	height:990px;
}
.public-container{
	width:1170px;
	margin: 0 auto;
}
.home-container{
	/*height:990px;*/
	/*padding:0 215px;*/
	padding-top:210px;
	padding-bottom:210px;
	text-align: center;
}
.home-container h1{
	margin-bottom: 87px;
	font-size: 62px;
}
.home-container .intro{
	padding:0 200px;
	color:rgba(225,225,225,0.7);
	line-height: 28px;
}
.home-container .sign-up{
	width:770px;
	margin:0 auto;
	margin-top:103px;
	padding:60px 100px 50px;
	border:1px solid rgba(225,225,225,0.2);
	border-radius: 2px;
	font-size: 14px;
}
.home-container .title{
	font-size:16px;
}
.home-container .des{
	font-size:12px;
	color:rgba(225,225,225,0.3);
}
.login{
	margin-top:45px;
}
.login input{
	background:rgba(0,0,0,0);
	width:250px;
	margin-right:30px;
	padding:20px;
	border:1px solid rgba(225,225,225,0.2);
	border-radius: 2px;
	color:#fff;
	font-size: 14px;
}
.login input::-webkit-input-placeholder{
            color:rgba(225,225,225,0.2);
        }

.login a{
	display: inline-block;
	background:#fff;
	border-radius: 2px;
	color:#000;
	width:110px;
	padding:20px 0;
}
.intro-wrapper{
	padding:90px 0 115px;
	text-align: center;
}
.intro-wrapper h1{
	font-size: 14px;
}
.intro-wrapper h2{
	font-size: 36px;
	padding:40px 200px 0;
}
.intro-wrapper  ul{
	padding:0 70px;
}
.intro-wrapper .intro-item{
	float:left;
	width:430px;
	margin-top:80px;
}
.intro-wrapper .intro-item:nth-child(odd){
	margin-right:170px;
}
.intro-wrapper .intro-item i{
	float:left;
	margin-top:6px;
	/*margin-right:24px;*/
}
.intro-wrapper .iphone{
	background: url(../img/iphone.png) no-repeat;
	width:30px;
	height:49px;
	
}
.intro-wrapper .check{
	background: url(../img/check.png) no-repeat;
	width:40px;
	height:37px;
}
.intro-wrapper .pencil{
	background: url(../img/pencil.png) no-repeat;
	width:49px;
	height:48px;
}
.intro-wrapper .settings{
	background: url(../img/settings.png) no-repeat;
	width:50px;
	height:42px;
}
.intro-wrapper .item-dec{
	margin-left:66px;
	text-align: left;
}
.intro-wrapper .item-dec h4{
	font-size: 20px;
}
.intro-wrapper .item-dec p{
	font-size: 16px;
	color:#797979;
}

/**/
.course-wrapper{
	background:url(../img/demo4.jpg) no-repeat;
	/*background-size:cover;*/
	height:800px;
	width:100%;
	color:#fff;
}
.course-wrapper .shade{
	background:rgba(0,0,0,0.65);
	height:800px;
	position: relative;
}
.course-content{
	width:500px;
	padding:184px 0px 184px 235px;
}
.course-content .content{
	width:370px;
}
.course-content .content h2{
	font-size:36px;
	font-weight: 400;
}
.course-content .content p{
	font-size:18px;
    color:rgba(225,225,225,0.7);
    margin-top:80px;
    margin-bottom:60px;
}
.course-content a{
	display: inline-block;
	width:230px;
	padding:20px 0;
	text-align: center;
	border-radius: 2px;
	font-size: 14px;
}
.course-content .checkOut{
	background:#fff;
	color:#000;
	margin-right: 30px;
	
}
.course-content  .try{
	background:rgba(0,0,0,0);
	border:1px solid rgba(225,225,225,0.2);
	color:#fff;
}
.course-wrapper .img-wrapper{
	position:absolute;
	right:0;
	top:105px;
	bottom:95px;
	width:646px;
	height:600px;
	border:1px solid rgba(225,225,225,0.2);
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	border-right:none;
	/*padding:28px 0px 28px 60px;*/
}
.course-wrapper .img-wrapper_2{
	border:1px solid rgba(225,225,225,0.2);
	border-right:none;
	height:540px;
	margin:28px 0px 28px 60px;
	background:url(../img/course.jpg) no-repeat;
}
.circle{
	position:absolute;
	width:10px;
	height:10px;
	border:1px solid rgba(225,225,225,0.2);
	border-radius:50%;
	top:50%;
	left:25px;
	transform: translateY(-50%);
}
/**/
.section1{
	border-bottom:2px solid rgba(225,225,225,0.2);
	text-align: center;
}
.section1 .box{
	display:flex;
	justify-content: space-between;
}
.section1 .box li{
	/*margin-right:80px;*/
	width:270px;
}
.section1 .box li:last-child{
	margin-right:0px;
}

.public-container_2{
	width:970px;
	margin: 0 auto;
	padding:100px 0;
}
.section1 h1{
	font-size: 36px;
	margin-bottom: 90px;
}
.section1 figure{
	/*margin-left:35px;*/
	/*text-align: center;*/
	margin: 0 auto 40px;
}
.singleton{
	background: url(../img/singleton.png);
	width:120px;
	height:35px;
}
.hero{
	background: url(../img/hero.png);
	width:75px;
	height:34px;
}
.portland{
	background: url(../img/portland.png);
	width:117px;
	height:31px;
}
.section1 .box li p{
	font-size: 16px;
	color:#797979;
}
.section2{
	border-bottom:2px solid rgba(225,225,225,0.2);
	text-align: center;
}
.content>div{
	float:left;
}
.content:first-child{
	margin-bottom: 80px;
}
.img-section{
	width:570px;
}
.text-section{
	width:300px;
	height:350px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.content:nth-child(1) .text-section{
	margin-left:100px;
}
.content:nth-child(2) .text-section{
	margin-right:100px;
}

.text-section h2{
	margin-bottom: 36px;
	font-size: 20px;
}
.text-section p{
	font-size: 16px;
	color:#797979;
	line-height: 26px;
}

.section3{
	border-bottom:2px solid rgba(225,225,225,0.2);
	text-align: center;
}
.section3 h1{
	font-size: 36px;
	margin-bottom: 35px;
}
.section3 p{
	font-size:18px;
	color:#797979;
	margin-bottom: 30px;
}
.section3 .box{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.section3 .box li{
	margin-top: 30px;
	position: relative;
}
.section3 .box li img{
	width:470px;
	height:340px;
}
.section3 .box li .overlay{
	position: absolute;
	width:470px;
	height:340px;
	top:0;
	left:0;
	/*background:rgba(0,0,0,0);*/ 
	background:rgb(0,0,0); 
	opacity: 0;
	transition: opacity 0.5s ease-in 0s;
}
.section3 .box li:hover .overlay{
	opacity: 0.65;
	/*background:rgba(0,0,0,0.65);*/ 
}
.section3 .box li .dec{
	position: absolute;
	width:270px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%) scale(0);
	transition:all 0.7s ease;
}
.section3 .box li:hover .dec{
	transform: translate(-50%,-50%) scale(1);
}
.section3 .box li .dec h2{
	font-size:20px;
	color:#fff;
}
.section3 .box li .dec p{
	color: rgba(225,225,225,0.7);
}

.section3 .box li .dec a{
	position: relative;
	border:1px solid rgba(225,225,225,0.2);
	border-radius: 50%;
	width:50px;
	height:50px;
	display: inline-block;
	margin-right: 30px;
}
.section3 .box li .dec a:last-child{
	margin-right: 0;
}
.section3 .box li .dec a i{
	position:absolute;
	font-size:25px;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.section3 .box li:hover .dec a:first-child{
	animation: bounce1 0.7s ease-in-out;
}
.section3 .box li:hover .dec a:nth-child(2){
	animation: bounce1 0.7s ease-in-out;
}
.section3 .box li:hover .dec a:last-child{
	animation: bounce1 0.7s ease-in-out;
}

@-webkit-keyframes bounce1{
	0%{
		transform:translateY(200px)
	}
	80%{
		transform:translateY(-10px)
	}
	100%{
		transform:translateY(0px)
	}
}

@-ms-keyframes keyframes bounce1{
	0%{
		transform:translateY(200px)
	}
	80%{
		transform:translateY(-10px)
	}
	100%{
		transform:translateY(0px)
	}
}
@-moz-keyframes  bounce1{
	0%{
		transform:translateY(200px)
	}
	80%{
		transform:translateY(-10px)
	}
	100%{
		transform:translateY(0px)
	}
}
@keyframes bounce1{
	0%{
		transform:translateY(200px)
	}
	80%{
		transform:translateY(-10px)
	}
	100%{
		transform:translateY(0px)
	}
}
@keyframes bounce2{
	/*from{}
	to{}*/
	0%,20%{
		transform:translateY(200px)
	}
	80%{
		transform:translateY(-10px)
	}
	100%{
		transform:translateY(0px)
	}
}
@keyframes bounce3{
	/*from{}
	to{}*/
	0%,20%,40%{
		transform:translateY(200px)
	}
	80%{
		transform:translateY(-10px)
	}
	100%{
		transform:translateY(0px)
	}
}
.contact{
	display: flex;
	justify-content:space-between;
	align-items: center;
	border: solid 1px black;
}
.contact-left{
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 8px;
	width:370px;
	padding:50px 50px 65px;
	text-align: center;

	
}
.contact-left h2{
	margin-bottom: 50px;
	font-size: 16px;
}
.contact-left input{
	width:330px;
	padding:20px;
	margin-bottom: 30px;
	border:1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
} 
.contact-left input:nth-child(4){
	padding:20px 20px 100px;
}
.contact-left input::-webkit-input-placeholder{
            /*color:rgba(225,225,225,0.2);*/
           font-size: 14px;
        }
.contact-left a{
	width:330px;
	padding:20px;
	background: #000;
	border-radius: 2px;
	font-size: 14px;
}
.contact-right{
	width:370px;
	border: solid 1px black;
}
 .contact-right h1{
 	font-size: 36px;
 }
.contact-right .intro{
	padding:35px 0;
	color:#797979;
	font-size: 14px;
}
.contact-right ul li{
	margin-top:35px;
}
.contact-right ul li i{
	float:left;
	margin-top:2px;
}
.contact-right .map{
	background: url(../img/map.png);
	width:19px;
	height:25px;
}
.contact-right .phone{
	background: url(../img/phone.png);
	width:24px;
	height:24px;
}

.contact-right .mail{
	background: url(../img/mail.png);
	width:24px;
	height:19px;
}

.contact-right  .dec{
	margin-left:45px;
}

footer{
	background:#000;
	color:#fff;
	padding:90px 135px 124px;
	display: flex;
	justify-content: space-between;
	border:solid 1px white;
}
footer .footer-col{
	width:300px;
	border:solid 1px white;
}
footer .footer-col h2{
	font-size:14px;
}
footer .footer-col p{
	font-size: 16px;
	color: rgba(225,225,225,0.3);
	margin-top:35px;
	/*font-weight:300;*/
}
footer .footer-col a{
	margin-right:30px;
	margin-top:45px;
	color: rgba(225,225,225,0.3);
	/*font-size:20px;*/
}
