.screen_one__shadow,
.screen_one__phone,
.screen_one__heading{
	transition: all 1s;
}
/* .screen-1__heading_animate_init{
	opacity: 0;
	transform: translate(0,0);
} */

.screen-1__shadow_animate_done,
.screen-1__phone_animate_done,
.screen-1__heading_animate_done{
	opacity: 1;
	transform: translate(0,0);
}
/* .screen-1__phone_animate_init{
	opacity: 0;
	transform: translate(0,-100%);
}
.screen-1__shadow_animate_init{
	opacity: 0;
	transform: translate(0,100%);
} */