/* .header {
    background: #fff;
    padding: 0;
    height: 100px;
    position: relative;
}

.content {} */


 .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }