* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 825px;
  background: url(../../img/01.png) no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 170px;
  font-size: 50px;
}

.header-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 280px;
  font-size: 20px;
  text-align: center;
  color: gainsboro;
  opacity: 0.5;
  line-height: 30px;
}

.header-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 450px;
  border: 1px solid rgba(220, 220, 220, 0.4);
  width: 1000px;
  height: 250px;
  text-align: center;
}

.header-form-title {
  font-size: 25px;
  padding-top: 30px;
  color: gainsboro;
}

.header-form-text {
  font-size: 16px;
  padding-top: 10px;
  color: rgba(220, 220, 220, 0.3);
  line-height: 30px;
}

.header-form-input-1 {
  border: 1px solid rgba(220, 220, 220, 0.4);
  background: transparent;
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-indent: 1em;
  color: #fff;
  position: absolute;
  left: 90px;
  top: 125px;
}

.header-form-input-2 {
  border: 1px solid rgba(220, 220, 220, 0.4);
  background: transparent;
  width: 300px;
  height: 50px;
  font-size: 20px;
  text-indent: 1em;
  color: #fff;
  position: absolute;
  left: 435px;
  top: 125px;
}

.header-form-button {
  border: 1px solid rgba(220, 220, 220, 0.4);
  background: #fff;
  position: absolute;
  left: 785px;
  top: 125px;
  width: 120px;
  height: 50px;
  border-radius: 2px;
  font-size: 15px;
}

.content-1 {
  width: 100%;
  height: 590px;
  text-align: center;
  position: relative;
}

.content-1-title {
  padding-top: 50px;
}

.content-1-text {
  padding-top: 20px;
  font-size: 30px;
  line-height: 30px;
}

.content-1-list {
  width: 1000px;
  height: 360px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 190px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content-1-list-item {
  display: flex;
  width: 400px;
  height: 180px;
  position: relative;
}

.content-1-list-item-img3 {
  width: 50px;
  height: 80px;
  background: url(../../img/03.png) no-repeat;
  position: absolute;
  top: 30px;
  left: 30px;
}

.content-1-list-item-img4 {
  width: 50px;
  height: 80px;
  background: url(../../img/04.png) no-repeat;
  position: absolute;
  top: 30px;
  left: 30px;
}

.content-1-list-item-img5 {
  width: 50px;
  height: 80px;
  background: url(../../img/05.png) no-repeat;
  position: absolute;
  top: 30px;
  left: 30px;
}

.content-1-list-item-img6 {
  width: 50px;
  height: 80px;
  background: url(../../img/06.png) no-repeat;
  position: absolute;
  top: 30px;
  left: 30px;
}

.content-1-list-item-text {
  position: absolute;
  top: 75px;
  left: 100px;
  font-size: 13px;
  text-align: left;
  color: grey;
  line-height: 30px;
}

.content-1-list-item-title {
  position: absolute;
  top: 30px;
  left: 100px;
  font-size: 23px;
}

.content-2 {
  width: 100%;
  height: 665px;
  background: url(../../img/02.png) no-repeat;
  background-size: cover;
  color: white;
  position: relative;
}

.content-2-title {
  font-size: 35px;
  position: absolute;
  top: 125px;
  left: 255px;
}

.content-2-text {
  color: rgba(220, 220, 220, 0.5);
  position: absolute;
  top: 300px;
  left: 255px;
  font-size: 18px;
  line-height: 30px;
}

.content-2-btn-1 {
  width: 200px;
  height: 50px;
  background: #fff;
  border: 1px solid rgba(220, 220, 220, 0.4);
  border-radius: 2px;
  position: absolute;
  top: 475px;
  left: 255px;
}

.content-2-btn-2 {
  width: 200px;
  height: 50px;
  background: transparent;
  border: 1px solid rgba(220, 220, 220, 0.4);
  border-radius: 2px;
  position: absolute;
  top: 475px;
  left: 475px;
  color: #fff;
}

.content-3 {
  width: 100%;
  height: 485px;
  border-bottom: 2px solid gainsboro;
  text-align: center;
  position: relative;
}

.content-3-title {
  font-size: 40px;
  padding-top: 50px;
}

.content-3-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 150px;
  width: 1000px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-3-list-item {
  width: 290px;
  height: 300px;
  position: relative;
}

.content-3-list-item-title1 {
  padding-top: 30px;
  background: url(../../img/21.png) no-repeat center;
  width: 120px;
  height: 10px;
  background-size: 100% 100%;
  display: inline-block;
}

.content-3-list-item-title2 {
  padding-top: 30px;
  background: url(../../img/23.png) no-repeat center;
  width: 120px;
  height: 10px;
  background-size: 100% 100%;
  display: inline-block;
}

.content-3-list-item-title3 {
  padding-top: 30px;
  background: url(../../img/26.png) no-repeat center;
  width: 120px;
  height: 10px;
  background-size: 100% 100%;
  display: inline-block;
}

.content-3-list-item-text {
  line-height: 30px;
  word-break: break-all;
  padding-top: 30px;
  color: gray;
  line-height: 30px;
}

.content-4 {
  width: 100%;
  height: 835px;
  border-bottom: 2px solid gainsboro;
  position: relative;
}

.content-4-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  width: 900px;
  height: 650px;
  position: relative;
}

.content-4-list-img1 {
  width: 550px;
  height: 290px;
  background: url(../../img/07.png) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.content-4-list-img2 {
  width: 550px;
  height: 290px;
  background: url(../../img/08.png) no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

.content-4-list-text1 {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 0px;
  top: 0px;
  text-align: center;
  line-height: 30px;
}

.content-4-list-text1-title {
  font-size: 25px;
  padding-top: 30px;
}

.content-4-list-text1-text {
  padding-top: 30px;
  color: gray;
  line-height: 30px;
}

.content-4-list-text2 {
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  line-height: 30px;
}

.content-4-list-text2-title {
  font-size: 25px;
  padding-top: 30px;
}

.content-4-list-text2-text {
  padding-top: 30px;
  color: gray;
  line-height: 30px;
}

.content-5 {
  width: 100%;
  height: 900px;
  border-bottom: 2px solid gainsboro;
  text-align: center;
  position: relative;
}

.content-5-title {
  font-size: 40px;
  padding-top: 50px;
}

.content-5-text {
  padding-top: 20px;
  font-size: 20px;
  color: gray;
  line-height: 30px;
}

.content-5-list {
  width: 900px;
  height: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 225px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-5-list-item9 {
  width: 410px;
  height: 270px;
  background: url(../../img/9.png) no-repeat;
  cursor: pointer;
}

.content-5-list-item10 {
  width: 410px;
  height: 270px;
  background: url(../../img/10.png) no-repeat;
  cursor: pointer;
}

.content-5-list-item11 {
  width: 410px;
  height: 270px;
  background: url(../../img/11.png) no-repeat;
  cursor: pointer;
}

.content-5-list-item12 {
  width: 410px;
  height: 270px;
  background: url(../../img/12.png) no-repeat;
  cursor: pointer;
}

.content-5-list-item9:hover {
  width: 410px;
  height: 270px;
  background: url(../../img/9_a.png) no-repeat;
  cursor: pointer;
}

.content-5-list-item10:hover {
  width: 410px;
  height: 270px;
  background: url(../../img/10_a.png) no-repeat;
  cursor: pointer;
}

.content-5-list-item11:hover {
  width: 410px;
  height: 270px;
  background: url(../../img/11_a.png) no-repeat;
  cursor: pointer;
}

.content-5-list-item12:hover {
  width: 410px;
  height: 270px;
  background: url(../../img/12_a.png) no-repeat;
  cursor: pointer;
}

.content-6 {
  width: 100%;
  height: 586px;
  position: relative;
}

.content-6-list {
  width: 1000px;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  /*     position: absolute;
        left: 50%;
        transform: translateX(-50%); */
}

.content-6-list-form {
  width: 410px;
  height: 480px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid gainsboro;
}

.content-6-list-form-title {
  font-size: 18px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}

.content-6-list-form-input1 {
  border: 1px solid rgba(220, 220, 220, 0.4);
  background: transparent;
  width: 350px;
  height: 50px;
  font-size: 20px;
  text-indent: 1em;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  color: #000;
}

.content-6-list-form-input2 {
  border: 1px solid rgba(220, 220, 220, 0.4);
  background: transparent;
  width: 350px;
  height: 50px;
  font-size: 20px;
  text-indent: 1em;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 160px;
  color: #000;
}

.content-6-list-form-input3 {
  border: 1px solid rgba(220, 220, 220, 0.4);
  background: transparent;
  width: 350px;
  height: 120px;
  font-size: 20px;
  text-indent: 1em;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 240px;
  color: #000;
}

.content-6-list-form-btn {
  border: 1px solid rgba(220, 220, 220, 0.4);
  background: transparent;
  width: 350px;
  height: 50px;
  font-size: 20px;
  text-indent: 1em;
  color: #fff;
  background: #000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 390px;
}

.content-6-list-information {
  height: 480px;
  width: 410px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.content-6-list-information-title {
  font-size: 40px;
  margin-top: 40px;
}

.content-6-list-information-text {
  font-size: 19px;
  color: gray;
  margin-top: 35px;
  line-height: 30px;
}

.content-6-list-information-address {
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 50px;
}

.content-6-list-information-address-icon {
  width: 20px;
  height: 30px;
  background: url(../../img/map.png) no-repeat center;
  position: absolute;
}

.content-6-list-information-address-text {
  position: absolute;
  left: 40px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 30px;
}

.content-6-list-information-phone {
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 25px;
}

.content-6-list-information-phone-icon {
  width: 30px;
  height: 40px;
  background: url(../../img/phone.png) no-repeat;
  position: absolute;
  top: 13px;
}

.content-6-list-information-phone-text {
  position: absolute;
  left: 40px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 30px;
}

.content-6-list-information-email {
  width: 100%;
  height: 50px;
  position: relative;
  margin-top: 25px;
}

.content-6-list-information-email-icon {
  width: 30px;
  height: 40px;
  background: url(../../img/mail.png) no-repeat;
  position: absolute;
  top: 18px;
}

.content-6-list-information-email-text {
  position: absolute;
  left: 40px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 30px;
}

.footer {
  width: 100%;
  height: 341px;
  background: #000000;
  color: gray;
}

.footer-list {
  width: 1200px;
  height: 341px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-list-ul {
  list-style-type: none;
  width: 200px;
  height: 250px;
  text-align: left;
  font-size: 18px;
}

.footer-list-ul-li {
  padding-top: 20px;
  /*      &-a{
                    width: 20px;
                    height: 20px;
                    background:url(../../img/last_15.png) no-repeat center ;
                    float: left;
                    padding-right: 19px;
                } */
}

.footer-list-ul-li-a1 {
  width: 20px;
  height: 20px;
  background: url(../../img/last_1.png) no-repeat center;
  float: left;
  padding-right: 19px;
}

.footer-list-ul-li-a2 {
  width: 20px;
  height: 20px;
  background: url(../../img/last_2.png) no-repeat center;
  float: left;
  padding-right: 19px;
}

.footer-list-ul-li-a3 {
  width: 20px;
  height: 20px;
  background: url(../../img/last_3.png) no-repeat center;
  float: left;
  padding-right: 19px;
}

.footer-list-ul-li-a4 {
  width: 20px;
  height: 20px;
  background: url(../../img/last_4.png) no-repeat center;
  float: left;
  padding-right: 19px;
}

.footer-list-ul-li-a5 {
  width: 20px;
  height: 20px;
  background: url(../../img/last_5.png) no-repeat center;
  float: left;
  padding-right: 19px;
}

.footer-list-ul-li-a6 {
  width: 20px;
  height: 20px;
  background: url(../../img/last_6.png) no-repeat center;
  float: left;
  padding-right: 19px;
}

.footer-list-ul4 {
  list-style: none;
  width: 400px;
  height: 250px;
  text-align: left;
  font-size: 18px;
}

.li-active {
  color: #fff;
}
